a {
  text-decoration: none;
}

a:link{
  color: green;
}

a:hover{
  color: red;
}

a:active{
  color: orange;
}

a:focus{
  outline: 3px solid orange;
}

a:visited{
  color: black;
}

body{
  background-color: white;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.todo-list li{
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.todo-list{
  list-style-type: none;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #96eaff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 2px;
}

.sub-item{
  list-style-type: square;
}

h1{
  text-align: center;
  color: white;
}

.container{
    max-width: 500px;
    margin: 40px auto;
    background-color: #326ba8;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 2px;
}
